body{
    background-color: hsl(217, 54%, 11%);
    text-align: center;
    display:block;
}

.main-box{
    display:block;
    margin:100px 450px;
    width:375px;
    height:680px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
}

.equi-img{
    width:345px;
    border-radius: 10px;
    margin-top:20px;    
}

h1{
    text-align: left;
    font-family: 'Outfit', sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
    padding-left: 20px;
    color: hsl(0, 0%, 100%);
}
.description{
    text-align: left;
    font-family: 'Outfit', sans-serif;
    padding: 0 20px;
    color:hsl(215, 51%, 70%);
    font-size:18px;
    margin: 25px 0;
}

table{
    text-align: left;
}

.coin{
    text-align: left;
    margin:20px 125px 10px 10px;
    color:hsl(178, 100%, 50%);
    font-family:'Outfit', sans-serif;
    font-size: 18px;
}

span{
    margin:10px;
}

.time{
    text-align:left;
    color:hsl(215, 51%, 70%);
    font-family:'Outfit', sans-serif;
    font-size: 18px;
}

hr{
    margin:30px 20px 50px 20px;
    color:hsl(215, 51%, 70%);
    border-width: 0.5px 0 0 0;
}

.profile-img{
    width:50px;
    border-color:white;
    border-style: solid;
    border-radius: 100%;
    float:left;
    margin-left:20px;
    position: relative;
    bottom: 20px;
}


.profile-name{
    font-family:'Outfit', sans-serif;
    font-size:15px;
    color:white;
    margin-left:1px;
}
.creation{
    font-family:'Outfit', sans-serif;
    font-size:15px;
    color:hsl(215, 51%, 70%);
    margin-right:100px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }